
.edit-profile-modal {
    display: none;
    z-index: 12;
    width: 25%;
    margin-top: 60rem;
    position: absolute;
    height: 40rem;
    border-radius: 1rem;
    border: 1px solid gray;
}


.edit-profile-modal.active {
    position: fixed;
}



