
.lobby-content {
    display: grid;
    grid-template-columns: 5fr 1fr;
    background: white !important;
    min-height: 1600px;

}



.lobby-content-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}




.lobby-content-sidebar > div {
    padding: 10px;
}



.lobby-content-sidebar div:first-child span {
    color: var(--dark-orange) !important;
    font-size: 18px!important;
    line-height: 24px!important;
}



#add-to-card-button {
    border-radius: 16px;
    border: 0;
    width: 90%;
    height: 32px;
    background: yellow;
}


#buy-now-button {
    border-radius: 16px;
    border: 0;
    width: 90%;
    height: 32px;
}


.lobby-buttons {
    display: grid;
    gap: 10px;
}

#quantity select {
    border: 1px solid;
    width: 60px;
}