.single-lobby-rate p {
    font-size: 1.8rem !important;
}

.rate-bars-container {
    width: 80%;
}

.single-lobby-quantity {
    color: gray !important;
    font-size: 1.2rem !important;
}


.rate-bar-flex:not(:first-child) {
    margin-top: 1rem; 
}


.rate-bar {
    border-radius: 0.2rem;
    height: 2.4rem;
    display: flex;
    align-items: center;
}

