:global .modal-container  {
    margin-top: 110px;
    width: 18%;
    height: 340px;
    position: fixed;
    left: 50%;
    top: 15%;
    transform: translate(-50%, -50%);
    border-radius: 4px;

    text-align: center;
}


:global .modal-container form {
    text-align: center;
    margin-top: 5px;
}

:global .modal-container p {
    margin-top: 15;
    font-size: 24px;
    font-weight: 700;
}

:global .modal-container form input {
    margin-top: 15px;
}

:global .modal-container form label {
    font-weight: 600;
    line-height: 10px;
}

:global #text-E01 {
    display: grid;
    align-items: center;
}



:global .text-input.login {
    width: 70%;
}


:global .login-button.login {
    width: 72%;
}
